* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.card {
  width: 300px;
  border: 1px solid rgba(128, 128, 128, 0.514);
  border-radius: 7px;
  position: relative;
}
.card img {
  width: 300px;
  height: 400px;
  border-radius: 12px;
  padding: 7px;
}
.card-details {
  padding: 7px;
}
.card-details h3,
h5,
p,
button {
  margin-bottom: 14px;
}
.add-cart-btn {
  background-color: #784ef7;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.cart-icon {
  margin-left: 10px;
}
